

<h3 class="mb-4 mt-5">Edit Video</h3>

<%= render 'form', video: @video %>

<button type="button" class="btn btn-link"><b><%= link_to 'Show', video_path %></b></button>
<button type="button" class="btn btn-link"><b><%= link_to 'Back', videos_path %></b></button>
