// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button.btn a{
  display:block;
}

button.btn a:hover{
  color:white;
  background-color: #007bff;
}

button.btn:hover {
  color:white;
  text-decoration: underline;
}

table {
  &.custom-width-table{
    max-width:800px;
  }
  tr{
    td{
      input{
        width:100%;
      }
    }
  }
}

